module.exports = {
  text: 'This is from wxs',
  filter: function (num) {
    return parseFloat(num.toFixed(2));
  }
  filterDown:function(num){
    return Math.floor(num)
  }
  filterMoney:function(num){
    return num.toFixed(2)
  }
  filterPhone:function(phone){
    return phone.substr(9,4)
  }
};